.button {
    min-width: 150px;
    min-height: 50px;

    font-size: 120%;

    margin: 10px;

    cursor: pointer;
}

.question {
    margin-top: 100px;
    font-size: 160%;
}

.answer-0 {
    font-size: 160% !important;
    padding-right: 10px;
    padding-left: 10px;
}

.answer-1 {
    font-size: 130% !important;
    padding-right: 5px;
    padding-left: 5px;
}

.answer-2 {
    font-size: 100% !important;
}

.answer {
    font-size: 80%;
}
